html{
  /*  background-color: #ff9999;*/
    padding: 0.5 rem;
}
/*.row{
    background-color: #ff9999;
}*/
body{
    background-color: #ffb399;
  
}

.navbar-brand{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
  ;
  }
h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
    font-size: 75px;
}
h3{
    font-family: 'Tangerine', cursive;
    font-weight: 700; 
    font-size: 60px;
}